name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macOS:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        MODE: ["Debug", "Release"]
    steps:
    - uses: actions/checkout@v3
    - name: Build and Test
      run:  |
        # Have to skip some tests that aren't working on newer OSes.
        set -o pipefail
        xcodebuild \
            -project GTM.xcodeproj \
            -scheme GTM \
            -configuration ${{ matrix.MODE }} \
            -skip-testing UnitTest-AppKit/GTMCarbonEventDispatcherHandlerTest \
            build test \
          | xcpretty
  iOS:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        MODE: ["Debug", "Release"]
    steps:
    - uses: actions/checkout@v3
    - name: Build and Test
      run:  |
        set -o pipefail
        xcodebuild \
            -project GTMiPhone.xcodeproj \
            -scheme GTMiPhone \
            -configuration ${{ matrix.MODE }} \
            -destination "platform=iOS Simulator,name=iPhone 8,OS=latest" \
            build test \
          | xcpretty
  bazel:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        MODE: ["dbg", "opt"]
    steps:
    - uses: actions/checkout@v3
    - name: bazel test
      run:  |
        go get github.com/bazelbuild/bazelisk
        bazelisk test --build_tests_only -c "${{ matrix.MODE }}" //...
  pod-lib-lint:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        # Can't shard by platform because of https://github.com/CocoaPods/CocoaPods/issues/11358
        CONFIGURATION: ["Debug", "Release"]
    steps:
    - uses: actions/checkout@v3
    - name: Pod lib lint
      run:  |
        pod lib lint --verbose \
          --configuration=${{ matrix.CONFIGURATION }} \
          GoogleToolboxForMac.podspec
